@{
    ViewBag.Title = "PostAnything";
}

<h2>Congratulations, you delivered a ton of junk to this page</h2>

<h3>Cookies</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
@foreach (HttpCookie cookie in Request.Cookies.AllKeys.Select(k => Request.Cookies[k]))
{
    <tr>
        <td>@cookie.Name</td>
        <td>@cookie.Value</td>
    </tr>
}
</table>

<h3>Headers</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
    @foreach (string key in Request.Headers)
    {
        <tr>
            <td>@key</td>
            <td>@Request.Headers[key]</td>
        </tr>
    }
</table>

<h3>Post values</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
    @foreach (string key in Request.Form)
    {
        <tr>
            <td>@key</td>
            <td>@Request.Form[key]</td>
        </tr>
    }
</table>